/ChessBrowser/obj/Debug/net9.0/.NETCoreApp,Version=v9.0.AssemblyAttributes.cs
/ChessBrowser/obj/Debug/net9.0/ChessBrowser.AssemblyInfo.cs
/ChessBrowser/obj/Debug/net9.0/ChessBrowser.AssemblyInfoInputs.cache
/ChessBrowser/obj/Debug/net9.0/ChessBrowser.assets.cache
/ChessBrowser/obj/Debug/net9.0/ChessBrowser.csproj.AssemblyReference.cache
/ChessBrowser/obj/ChessBrowser.csproj.nuget.dgspec.json
/ChessBrowser/obj/ChessBrowser.csproj.nuget.g.props
/ChessBrowser/obj/ChessBrowser.csproj.nuget.g.targets
/ChessBrowser/ChessBrowser.csproj.user
/ChessBrowser/obj/Debug/net9.0/ChessBrowser.GeneratedMSBuildEditorConfig.editorconfig
/ChessBrowser/obj/Debug/net9.0/ChessBrowser.GlobalUsings.g.cs
/.idea/.idea.ChessBrowser/.idea/encodings.xml
/.idea/.idea.ChessBrowser/.idea/indexLayout.xml
/ChessBrowser/obj/project.assets.json
/ChessBrowser/obj/project.nuget.cache
/ChessBrowser/obj/project.packagespec.json
/ChessBrowser/obj/rider.project.model.nuget.info
/ChessBrowser/obj/rider.project.restore.info
/.idea/.idea.ChessBrowser/.idea/vcs.xml
bin/
obj/
.idea/
*.user
.DS_Store
